<div id='hint-answer-legend'>Legend:
    <span class='hint-answer-style-substitution'>Substitute</span> |
    <span class='hint-answer-style-insertion'>Insert</span> |
    <span class='hint-answer-style-deletion'>Delete</span></div>