<table id="feedback-case-table">
    <tr>
        <th>Case</th>
        <th>Questions</th>
        <th>Function</th>
        <th>Prepositions</th>
    </tr>
    <tr>
        <td>Nominative</td>
        <td>Кто? | Что?</td>
        <td>subject</td>
        <td>---</td>
    </tr>
    <tr>
        <td>Genitive</td>
        <td>Кого? | Чего?</td>
        <td>possession(of), lack or absence(не~)</td>
        <td>без, для, до, из<br></td>
    </tr>
    <tr>
        <td>Dative</td>
        <td>Кому? | Чему?</td>
        <td>indirect object</td>
        <td>по(due to), к, согласно, подобно</td>
    </tr>
    <tr>
        <td>Accusative</td>
        <td>Кого? | Что?</td>
        <td>direct object, motion, duration</td>
        <td>в(into), на(onto), за(for), через</td>
    </tr>
    <tr>
        <td>Instrumental</td>
        <td>Кем? | Чем?</td>
        <td>person/object performing an action</td>
        <td>с(with), над, под(under), перед</td>
    </tr>
    <tr>
        <td>Prepositional</td>
        <td>О ком? | О чём?</td>
        <td>location, person/object being talked about</td>
        <td>в(in/at), на(on/at), о(б), при</td>
    </tr>
</table>