{{<rule-div}}
    {{$rule}}The unstressed vowels 'o' and 'е' are pronounced differently.<br>
    This phenomenon can be checked by altering the word form.<br><br>
    Example: We have the word 'дома' (pronounced дама́) with unstressed 'o'.<br>
    But we know, that there is a word form 'дом' (pronounced до́м) with stressed 'o'.<br>
    In this case, this vowel must be spelled like 'o' in every word form.{{/rule}}
{{/rule-div}}