<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>FOO</title>
    <link type="text/css" href="css/foundation.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="row">
      <div id="content" class="columns small-16">
        {{$content}}{{/content}}
      </div>
    </div>
  </body>
</html>
