<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="css/authenticator.css" rel="stylesheet" type="text/css" media="screen" />
        <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.4/firebase-ui-auth.css" />
        <style>
         body {
             margin: 0;
         }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>VIEW: Sign in with your account</title>
        <meta http-equiv="Content-Type"
content="application/xhtml+xml; charset=UTF-8" />
    </head>
    <body>
        <div id="wrapper">
            <div id="main">
                <div id="mainpartwrapper">
                    <div id="mainpart">
                        <div id="if-cookies-enabled">
                            <div id="container">
                                <div id="user-signed-in" class="hidden">
                                    <h3>You are signed in as</h3>
                                    <div id="user-info">
                                        <div id="photo-container">
                                            <img id="photo"></img>
                                        </div>
                                        <div id="name"></div>
                                        <div id="email"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div id="user-signed-out" class="hidden">
                                    <div id="firebaseui-auth-container">
                                        <h1>Sign in with your account</h1>
                                    </div>
                                </div>
                            </div>
                            <script>
                            // Initialize Firebase
                            {{#view}}{{#firebaseApiData}}
                            var viewFirebaseConfig = {
                                apiKey: "{{apiKey}}",
                                authDomain: "{{authDomain}}",
                                databaseURL: "{{databaseUrl}}",
                                storageBucket: "{{storageBucket}}",
                            };
                            {{/firebaseApiData}}{{/view}}
                            </script>
                            <script src="/js/vendor.js"></script>
                            <script src="/js/authenticator.js"></script>
                        </div>
                        <div id="if-cookies-disabled" class="hidden">
                            <h1>Cookies Required</h1>
                            <p>
                                You have cookies disabled in your browser, but
                                they need to be enabled for signing in with OpenID.
                                Please enable cookies either for all websites or
                                only for <span id="server-url"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
