<div class="columns small-16">
    View <a href="https://git.aleks.bg/view/view">source code repository</a>
    and <a href="https://git.aleks.bg/view/view/issues">issue tracker</a>.
    Contact: <a href="mailto:aleks.dimitrov@gmail.com">Aleksandar Dimitrov</a>
</div>
