body {
    background: #EEE;
}

header, footer, main {
    @extend .row;
}

.radio-button {
    display: inline;
    input.button {
        &[type="radio"] {
            visibility: hidden;
            &:checked + label {
                @extend .alert
            }
        }

        + label {
            @extend .button;
            color: white;
        }
    }
}
