<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><table class="vertical-navbox nowraplinks plainlist" style="float:right;clear:right;width:22.0em;margin:0 0 1.0em 1.0em;background:#f9f9f9;border:1px solid #aaa;padding:0.2em;border-spacing:0.4em 0;text-align:center;line-height:1.4em;font-size:88%">
<tr>
<th style="padding:0.2em 0.4em 0.2em;font-size:145%;line-height:1.2em;padding-bottom:0.5em;"><a href="/wiki/Linguistics" title="Linguistics">Linguistics</a></th>
</tr>
<tr>
<th style="padding:0.1em;background:#ddf;"><a href="/wiki/Theoretical_linguistics" title="Theoretical linguistics">Theoretical</a></th>
</tr>
<tr>
<td style="padding:0 0.1em 0.4em;padding:0.2em 0.5em 0.8em;">
<div class="hlist">
<ul>
<li><a href="/wiki/Cognitive_linguistics" title="Cognitive linguistics">Cognitive</a></li>
<li><a href="/wiki/Constraint-based_grammar" title="Constraint-based grammar">Constraint-based</a></li>
<li><a href="/wiki/Generative_grammar" title="Generative grammar">Generative</a></li>
<li><a href="/wiki/Structural_linguistics" title="Structural linguistics">Structuralist</a></li>
<li><a href="/wiki/Quantitative_linguistics" title="Quantitative linguistics">Quantitative</a></li>
</ul>
</div>
<ul>
<li><a class="mw-selflink selflink">Functional theories of grammar</a></li>
</ul>
<div class="hlist">
<ul>
<li><a href="/wiki/Phonology" title="Phonology">Phonology</a></li>
<li><a href="/wiki/Morphology_(linguistics)" title="Morphology (linguistics)">Morphology</a></li>
<li><br />
<a href="/wiki/Morphophonology" title="Morphophonology">Morphophonology</a></li>
<li><a href="/wiki/Syntax" title="Syntax">Syntax</a></li>
<li><a href="/wiki/Lexis_(linguistics)" title="Lexis (linguistics)">Lexis</a></li>
<li><a href="/wiki/Semantics" title="Semantics">Semantics</a></li>
<li><a href="/wiki/Pragmatics" title="Pragmatics">Pragmatics</a></li>
<li><a href="/wiki/Graphemics" title="Graphemics">Graphemics</a></li>
<li><a href="/wiki/Orthography" title="Orthography">Orthography</a></li>
<li><a href="/wiki/Semiotics" title="Semiotics">Semiotics</a></li>
</ul>
</div>
</td>
</tr>
<tr>
<th style="padding:0.1em;background:#ddf;"><a href="/wiki/Linguistic_description" title="Linguistic description">Descriptive</a></th>
</tr>
<tr>
<td style="padding:0 0.1em 0.4em;padding:0.2em 0.5em 0.8em;">
<div class="hlist">
<ul>
<li><a href="/wiki/Anthropological_linguistics" title="Anthropological linguistics">Anthropological</a></li>
<li><a href="/wiki/Comparative_linguistics" title="Comparative linguistics">Comparative</a></li>
<li><a href="/wiki/Historical_linguistics" title="Historical linguistics">Historical</a></li>
<li><a href="/wiki/Etymology" title="Etymology">Etymology</a></li>
<li><a href="/wiki/Graphetics" title="Graphetics">Graphetics</a></li>
<li><a href="/wiki/Phonetics" title="Phonetics">Phonetics</a></li>
<li><a href="/wiki/Sociolinguistics" title="Sociolinguistics">Sociolinguistics</a></li>
<li><a href="/wiki/Cherology" title="Cherology">Cherology</a></li>
</ul>
</div>
</td>
</tr>
<tr>
<th style="padding:0.1em;background:#ddf;"><a href="/wiki/Applied_linguistics" title="Applied linguistics">Applied</a> and experimental</th>
</tr>
<tr>
<td style="padding:0 0.1em 0.4em;padding:0.2em 0.5em 0.8em;">
<div class="hlist">
<ul>
<li><a href="/wiki/Computational_linguistics" title="Computational linguistics">Computational</a></li>
<li><a href="/wiki/Contrastive_linguistics" title="Contrastive linguistics">Contrastive</a></li>
<li><br />
<a href="/wiki/Evolutionary_linguistics" title="Evolutionary linguistics">Evolutionary</a></li>
<li><a href="/wiki/Forensic_linguistics" title="Forensic linguistics">Forensic</a></li>
<li><a href="/wiki/Internet_linguistics" title="Internet linguistics">Internet</a></li>
</ul>
</div>
<ul>
<li><a href="/wiki/Language_acquisition" title="Language acquisition">Language acquisition</a></li>
<li><a href="/wiki/Second-language_acquisition" title="Second-language acquisition">Second-language acquisition</a></li>
<li><a href="/wiki/Language_assessment" title="Language assessment">Language assessment</a></li>
<li><a href="/wiki/Language_development" title="Language development">Language development</a></li>
<li><a href="/wiki/Language_education" title="Language education">Language education</a></li>
<li><a href="/wiki/Linguistic_anthropology" title="Linguistic anthropology">Linguistic anthropology</a></li>
</ul>
<div class="hlist">
<ul>
<li><a href="/wiki/Neurolinguistics" title="Neurolinguistics">Neurolinguistics</a></li>
<li><a href="/wiki/Psycholinguistics" title="Psycholinguistics">Psycholinguistics</a></li>
</ul>
</div>
</td>
</tr>
<tr>
<th style="padding:0.1em;background:#ddf;">Related articles</th>
</tr>
<tr>
<td style="padding:0 0.1em 0.4em;padding:0.2em 0.5em 0.8em;">
<ul>
<li><a href="/wiki/History_of_linguistics" title="History of linguistics">History of linguistics</a></li>
<li><a href="/wiki/Linguistic_prescription" title="Linguistic prescription">Linguistic prescription</a></li>
<li><a href="/wiki/List_of_linguists" title="List of linguists">List of linguists</a></li>
<li><a href="/wiki/List_of_unsolved_problems_in_linguistics" title="List of unsolved problems in linguistics">Unsolved linguistics problems</a></li>
</ul>
</td>
</tr>
<tr>
<td style="padding:0.3em 0.4em 0.3em;font-weight:bold;background:#ddf;"><a href="/wiki/Portal:Linguistics" title="Portal:Linguistics">Linguistics portal</a></td>
</tr>
<tr>
<td style="text-align:right;font-size:115%">
<div class="plainlinks hlist navbar mini">
<ul>
<li class="nv-view"><a href="/wiki/Template:Linguistics" title="Template:Linguistics"><abbr title="View this template">v</abbr></a></li>
<li class="nv-talk"><a href="/wiki/Template_talk:Linguistics" title="Template talk:Linguistics"><abbr title="Discuss this template">t</abbr></a></li>
<li class="nv-edit"><a class="external text" href="//en.wikipedia.org/w/index.php?title=Template:Linguistics&amp;action=edit"><abbr title="Edit this template">e</abbr></a></li>
</ul>
</div>
</td>
</tr>
</table>
