<div id="wertiview-interaction-sidebar">
	<button type="button" id="wertiview-interaction-enhance-button">Enhance</button> <!-- TODO: oncommand="wertiview.activity.add()" old:id="wertiview-toolbar-single-button-->
	<!-- Only displayed when the enhancement finished -->
	<button id="wertiview-interaction-restore-button">Restore</button> <!-- TODO: oncommand="wertiview.activity.remove() old:id="wertiview-toolbar-remove-button"-->
	<!-- Only displayed during the enhancement (TODO: maybe div element?)-->
	<span id="wertiview-interaction-loading-image"></span>
	<button id="wertiview-interaction-abort-button">Abort</button> <!-- TODO: oncommand="wertiview.activity.abort()" -->
</div>