/* Dropdown Content (Hidden by Default) */
.view-dropdown-content {
	top: 48px;
	z-index: 9999; 
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Elements inside the dropdown */
.view-dropdown-content span {
    color: black;
    padding: 12px 16px;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.view-dropdown-content span:hover {
	background-color: #f1f1f1
}